:root {
  --background: #18191a;
  --texto: rgba(255, 255, 255, 0.7);
  --blanco: #fff;
  --input: #3a3b3c;
  --input-hover: #4b4d4e;
  --activo: #2d88ff;
  --gris-claro: #b0b3b8;
  --fondo-contenido: #242526;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--texto);
}

a {
  color: var(--texto);
  text-decoration: none;
}
